{% extends "base.htm" %}  
{% block head %}
    <title>Signin for MyLog</title>
    <link href="{{static_url('css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{static_url('css/signin.css')}}" rel="stylesheet">
{% end %}

{% block  main %}
    <div class="form-signin container">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="username" class="sr-only">Email address</label>
        <input type="email" id="username" class="form-control" name="username" placeholder="Email address" required autofocus>
        <label for="passwd" class="sr-only">Password</label>
        <input type="password" id="passwd" class="form-control" name="passwd" placeholder="Password" required>
        <div class="checkbox">
            <label> <input type="checkbox" value="remember-me"> Remember me </label>
            <label id="login_error"></label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="login_button">Sign in</button>
        {% raw xsrf_form_html() %}
        <a href="/regist">new account </a>
    </div> 
{% end %}
{% block jslib %}
<script src="{{static_url('js/main.js')}}"></script>
<script src="{{static_url('js/jquery.md5.js')}}"></script>
{% end %}
