{% extends  'base.html' %}
{% block head  %}
<script src="{{static_url('js/md5.js')}}"></script>
<script src="{{static_url('js/login.js')}}"></script>
{% end %}
{% block body %}
<form action="/login" method="POST" onsubmit="return login_check();">
    {% raw xsrf_form_html() %}
    <p>Username: <input type="text"  name="username" id="username"/></p>
    <p>Passwd:  <input type="password" name="passwd" id="passwd" /></p>
    <input type="submit" id="login"  value="Login" />
</form>
    <a href="/regist">new accout </a>
{% end %}
